*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* border: 1px solid red; */
}

:root {
    scroll-behavior: smooth;
	background-color: darkgreen;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 120%; 
    color: white;
}

a, .link
{
    color: white;
}